<a href="https://colab.research.google.com/github/Lavanya024R/Innomatics-Internship-Tasks/blob/main/Untitled43.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1: Unique Words in a Sentence

In [1]:
sentence = "python is easy and python is powerful"

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'python', 'powerful', 'and', 'easy', 'is'}

Problem 2: Highest Salary from Employee Data

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [3]:
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [4]:
prices = [450, 1200, 899, 1500, 300]
count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [5]:
attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
percentage = (present_count / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [7]:
text = "python"
char_count = {}

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [8]:
lst = [10, 20, 30]
tup = tuple(lst)

print("Tuple:", tup)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [9]:

employees = {"Ravi": 75000, "Anita": 68000}

if "Ravi" in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks

In [10]:
marks = [70, 75, 80, 65]

average = sum(marks) / len(marks)
print("Average Marks:", average)

Average Marks: 72.5